
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.woff2') format('woff2');
	src: url('../fonts/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*Reset*/
* {
  margin: 0;
  padding: 0;
}
/*Koniec resetu*/

body {
  font-family: "Raleway", sans-serif;
}


nav {
  width: 100%;
  height: 50px;
  background: black;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

span {
  color: #2FC49C;
}

nav p {
  margin-left: 110px;
  float: left;
  text-align: center;
  line-height: 50px;
}

nav ul {
  margin-right: 105px;
  float: right;
  line-height: 50px;
	text-decoration: none;
}

nav > ul > li {
  display: inline;
	text-decoration: none;
  padding: 10px;
}


a {
	text-decoration: none;
	color: white;
}

#about {
	position: relative;
}

.list1 {
	display: none;
	width:100px;
	height: 80px;
	background-color: black;
	z-index: 2;
	margin-top: 10px;
	position: absolute;
}

.list1-inside {
	width: 40px;
	height: 40px;
	background-color: black;
	z-index: -3;
	transform:rotate(45deg);
	margin-left: 30px;
	position: absolute;
}

.ins {
	list-style-type: none;
	font-size: 12px;
	line-height: 25px;
	padding-left: 5px;
	padding-top: 3px;
	z-index: 5;
	position: absolute;
}
}

.ins li {
	list-style-type: none;
}

.list1 ul {
	text-decoration: none;
	color: white;
	font-size: 12px;
	line-height: 25px;
	padding-left: 10px;
	padding-top: 3px;
	z-index: 5;
	position: absolute;
}

.black-chair {
  height: 500px;
  background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 40%, rgba(239,239,239,1) 90%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(40%, rgba(246,246,246,1)), color-stop(90%, rgba(239,239,239,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 40%, rgba(239,239,239,1) 90%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 40%, rgba(239,239,239,1) 90%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 40%, rgba(239,239,239,1) 90%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 40%, rgba(239,239,239,1) 90%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.next-to{
  float: left;
  width: 580px;
  margin-top: 100px;
}

.next-to p{
	padding-right: 130px;
	text-align: center;
}


.next-to h1 {
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
	padding-left: 80px;
}

.next-to button {
  margin-top: 100px;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #2FC49C;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-left: 120px;
  border: none;
}

.clearfix:: before, clearfix::after {
 clear:both;
 content: "";
 display: table;
 }

.right {
  margin-right: 20px;
}

.left-arrow {
	width: 45px;
  margin-left: 50px;
  padding-top: 100px;
	float: left;
}

.slider ul{
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visible{
    display: inline-block;
}

.right-arrow {
	width: 45px;
	margin-right: 50px;
  margin-top: -60px;
	float: right;
}

/*---SEKCJA Z KRZESŁEM, DZIECKIEM, TEKSTEM---*/

.img-left {
  margin: 50px 10px 10px 50px;
  width: 300px;
  height: 200px;
  background-image: url("../images/box1_img.jpg");
  background-repeat: no-repeat;
  float: left;
}
.img-centre {
  margin: 50px 10px 10px 50px;
  width: 300px;
  height: 200px;
  background-image: url("../images/box2_img.jpg");
  background-repeat: no-repeat;
  float: left;
}

.img-text {
  margin: 50px 10px 5px 50px;
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
  padding: 5px;
  border: 1px solid silver;
  box-sizing: content-box;
	font-size: 13px;
	color: gray;
	font-weight: 600;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 18px;
}

.img-text h2 {
	color: black;
	font-size: 14px;
}

.clair-mar {
  width: 100%;
  height: 52px;
  background-color: rgba(255, 255, 255, 0.35);
  margin-top: 140px;
  font-weight: 800;
  font-size: 13px;
	padding-left: 20px;
	padding-top: 10px;
}

.underline {
	width: 135px;
	border: 3px solid #2FC49C;
	margin-top: 0px;
	padding-left: 17px;
}

.underline-text {
	width: 135px;
	border: 3px solid #2FC49C;
	margin-top: 0px;
	padding-left: 17px;
	margin-bottom: 10px;
}


/*----------SEKCJA Z CENAMI----------*/
.prices {
	height: 700px;
	background-color: #f5f5ef;
	margin-top: 350px;
}

.prices-top {
	text-transform: uppercase;
	font-size: 13;
	padding-top: 30px;
	padding-bottom: 5px;
}

.prices p {
	text-transform: uppercase;
	font-size: 13;
	padding-top: 30px;
}

.prices,  .underline-prices {
	padding-left: 40px;
}

.underline-prices {
	width: 300px;
	border: 3px solid #2FC49C;
	margin-top: 0px;
}

/*---SEKCJA Z CENAMI DO TRZECH PLANÓW---*/

.centre {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ccccb3;
  margin: 0 auto;
  margin-top: 12px;
}

.boxes h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
	color: #2FC49C;
	font-size: 15px;
}

.price {
  width: 100px;
  height: 100px;
  border-radius: 50%;
	border: 1px solid #ccccb3;
	position: absolute;
	margin-left: 100px;
	margin-top: 20px;
	top: 35px;
	background-color: white;
}

.main-price {
	margin-top: 10px;
	font-size: 30px;
	color: #bfbfbf;
	font-weight: bolder;
	text-align: center;
	line-height: 50px;
}

sup {
	font-size: 15px;
}

.price p {
	text-transform: uppercase;
	font-size: 10px;
  color: red;
	text-align: center;
	color: #bfbfbf;
	margin-top: -34px;
	font-weight: bolder;
}

.boxes ul {
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	margin-top: 140px;
	display: block;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.boxes ul li:nth-child(2n+1) {
	background-color: #e6e6e6;
}

.boxes ul li:nth-child(2n+2) {
	background-color: #f2f2f2;
}

.boxes li {
	color: #8c8c8c;
}

.big{
  width: 50px;
  height: 50px;
  border-radius: 50%;
	border: 1px solid #ccccb3;
	position: absolute;
	right: 40%;
	top: -35px;
	background-color: white;
}

.three-boxes button {
	  height: 40px;
  	width: 160px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 70px;
		text-transform: uppercase;
		background-color: #2FC49C;
		border-radius: 10px;
		font-weight: 400;
		padding: 8px;
		bottom: 15px;
		position: absolute;
}


.boxes {
  float: left;
  width: 300px;
  height: 450px;
  border: 1px solid #ccccb3;
  position: relative;
  margin-right: 50px;
	margin-left: 30px;
  margin-top: 100px;
	background-color: #f9f9eb;
	box-sizing: border-box;
}



/*---DODATKOWE---*/

.application {
  background-color: #f9f9f9;
  padding:30px 0;
	height: 500px;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
}


.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}


.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 30px;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 98px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_part {
	margin-left: 90px;
}

.align_right {
	margin-right: -50px;
}
.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 80px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}

/*---SEKCJA Z FORMULARZEM---*/

.form {
	height: 550px;
	margin-top: 50px;
	margin-left: 50px;
}

.contact-top {
	text-transform: uppercase;
	font-size: 13;
	padding-bottom: 5px;
}

.underline-contact {
	padding-left: 40px;
	width: 300px;
	border: 3px solid #2FC49C;
	margin-bottom: 35px;
}

.form-left {
	width: 400px;
	float: left;
}

.form-right {
	width: 600px;
	float: right;
}

.form-right img {
	float: left;
	margin-left: 153px;
}
.form-left input {
	height: 70px;
	border: 1px solid #2FC49C;
	padding: 8px;
	width: 500px;
	font-size: 22px;
	color: lightgray;
	font-weight: lighter;
	font-family: "Raleway", sans-serif;
}

textarea {
	border: 1px solid #2FC49C;
	padding: 8px;
	width: 500px;
	font-size: 22px;
	font-weight: lighter;
	font-family: "Raleway", sans-serif;
}

textarea {
	resize: none;
	border: 1px solid #2FC49C;
	font-style: inherit;
	font-family: "Raleway", sans-serif;
}

.check-box {
	margin-right: 280px;
	margin-top: 240px;
	position: relative;
  color: #ccccb3;
}

label {
	width: 200px;
	font-size: 20px;
	font-weight: lighter;
	font-family: "Raleway", sans-serif;
	color: #cecece;
	/*margin-left: -80px;*/
	margin-top: 50px;
	position: absolute;

}


#agree {
	margin-left: 124px;
	width: 50px;
	height: 50px;
  color: #2FC49C;
  margin-top: 50px;
	margin-right: 100px;
	float: left;
  display: inline-block;
}


.submit {
  margin-top: 70px;
  text-transform: uppercase;
  width: 350px;
  height: 60px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #2FC49C;
  font-size: 30px;
  font-weight: 700;
	font-family: "Raleway", sans-serif;
  padding: 12px;
  margin-left: 120px;
  border: none;
}


/*-----STOPKA-----*/


footer {
	width: 100%;
  height: 80px;
  color: #ccccb3;
  font-weight: bold;
	margin-top: 200px;
	padding-top: 50px;
}

.copyright {
	float: left;
  color: #ccccb3;
	margin-left: 120px;
}

.icons {
	float: left;
	margin-top: -10px;
	margin-left: 300px;
}

.logo {
	font-weight: 500;
	text-transform: uppercase;
	float: right;
  color: #ccccb3;
	margin-right: 150px;
}
